/* Styles for FAQs page */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.expansion__header {
    font-weight: bold;
}

.home__button {
    width: 300px;
    height: 80px;
}

.home__button-link {
    text-decoration: none;
 }
