nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  background: grey;
  color: white;
}

.navList {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

a {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}
