nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  background: #3b6978;
  color: white;
}

.navList {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.headerLinks {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
